* {
	width: 100%;
	margin: 0;
}

.switch_container {
	text-align: right;
	background-color: white;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
	width: min-content;
	align-items: center;
	gap: 20px;
	padding-right: 20px;
	background-color: inherit;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	margin: 5px 0;
	vertical-align: middle;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #00031a;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: white;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
	background-color: #00031a;
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.text {
	font-size: 32pt;
}

.flex_container {
	display: flex;
}

.middle {
	padding: 1%;
	vertical-align: middle;
}

.text_16_pt {
	font-size: 16pt;
}

.grid_container {
	display: grid;
}

.navbar_container {
	height: 90px;
}
.logo {
	width: auto;
	color: red;
}

.fa-star::before {
	vertical-align: middle;
}
.navbar {
	grid-template-columns: repeat(3, min-content);
	gap: 22px;
	vertical-align: middle;
	align-items: center;
	margin-left: 6.25em;
}

.main_content {
	grid-template-rows: repeat(4, auto);
	gap: 5.625em;
	margin-top: 5.625em;
	justify-content: center;
}
.text_28_pt {
	font-size: 28pt;
}
.text_48_pt {
	font-size: 48pt;
}

.title_container {
	width: 50em;
	text-align: center;
}
