* {
	width: 100%;
	margin: 0;
	transition-duration: 0.4s;
}

.grid-container {
	display: grid;
}

.flex-container {
	display: flex;
}

section {
	margin-top: 90px;
}

.hero-container {
	margin-left: 2vw;
	gap: 3vw;
	flex-direction: row;
	justify-content: flex-end;
}

.hero-text {
	grid-template-rows: repeat(3, auto);
	gap: 2.5vw;
	height: max-content;
	margin-top: 2.5vw;
	width: 52vw;
}

.hero-image {
	right: 0;
	width: 42vw;
	height: auto;
}
.vision-container {
	margin: 4vw 10vw 0 10vw;
	width: auto;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 20px;
	row-gap: 7vw;
}
.vision-title {
	text-align: center;
	width: 50vw;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	gap: 2vw;
	grid-column: 1/3 span;
}
.circle {
	width: 50px;
	height: auto;
	z-index: -1;
	grid-row: 1;
	grid-column: 1;
}
.vision-text {
	gap: 10px;
	grid-template-columns: repeat(2, auto);
	align-items: center;
}
.vision-text-1 {
	margin-left: 10px;
	margin-top: auto;
	margin-bottom: auto;
	grid-row: 1;
	grid-column: 1;
}
.vision-text-2 {
	grid-row: 2;
	grid-column: 1/2 span;
}

.comment-container {
	margin: 8vw 5vw 0 5vw;
	width: auto;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto 27vw;
	column-gap: 4vw;
	row-gap: 5vw;
	justify-items: center;
}

.comment-title {
	grid-column: 1/3 span;
	width: max-content;
}

.testi-container {
	width: 27vw;
	height: 27vw;
	background-color: #171e4f;
	border-radius: 25px;
}
.testi-content {
	margin: 30px;
	width: auto;
	grid-template-rows: repeat(3, max-content);
	gap: 2.5vw;
}

.fa-quote-right {
	font-size: 45px;
	width: max-content;
}

.testi-name {
	grid-template-columns: repeat(5, auto);
	gap: 20px;
	width: max-content;
}

.name {
	grid-column: 1/5 span;
	grid-row: 1;
}

a {
	text-decoration: none;
}
